<div *ngIf="Cargando" id="minicontenedor" >
  <div class="miniloader1" id="loader"></div>
</div>
<div *ngIf="!Cargando">
  <div class="modal-header">
    <h4 class="modal-title" >Carga masiva</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalActivo.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="subir()">
      <div class="form-group">
        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
            <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
            <div>
                <span class="btn btn-rose btn-round btn-file">
                    <span class="fileinput-new">Seleccionar archivo</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" name="..." accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="cambioEscuchador($event.target.files)" />
                </span>
            </div>
        </div>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalActivo.close('Close click')">Cerrar</button>
    <button class="btn btn-primary" (click)="subir()" >Subir</button>
  </div>
</div>    