<div class="main-content">
    <div *ngIf="Cargando" id="contenedor" >
        <div class="loader1" id="loader"></div>
    </div>
    <div *ngIf="!Cargando" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">security</i>
                        </div>
                        <h4 class="card-title">Usuarios</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Identificador</th>
                                        <th>Identificacion</th>
                                        <th>Nombre</th>
                                        <th>Fecha Insercion</th>
                                        <th class="text-center">Activo</th>
                                        <th></th>
                                        <th class="td-actions text-center">
                                            <button mat-raised-button type="button" class="btn btn-info btn-round text-center" (click)="clickAgregar()" matTooltip="Agregar usuario">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let usuario of usuarios | paginate : { id: 'usuariosPaginacion', itemsPerPage:10, currentPage: pagina };">
                                        <td class="text-center">{{usuario.idUsuario}}</td>
                                        <td>{{usuario.identificacion}}</td>
                                        <td>{{usuario.nombre}}</td>
                                        <td>{{usuario.fechaInsercion}}</td>
                                        <td class="td-actions text-center" style="align-content:center">
                                            <button [hidden]="!usuario.activo" mat-raised-button type="button" class="btn btn-success btn-link" (click)="clickActivarDesactivar(usuario)" matTooltip="Desactivar usuario">
                                                <i class="material-icons">check</i>
                                            </button>
                                            <button [hidden]="usuario.activo" mat-raised-button type="button" class="btn btn-danger btn-link" (click)="clickActivarDesactivar(usuario)" matTooltip="Activar usuario">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                        <td class="td-actions text-center" style="align-content:center">
                                            <button mat-raised-button type="button" class="btn btn-success btn-round" (click)="clickEditar(usuario)" matTooltip="Editar usuario">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" class="btn btn-primary btn-round" (click)="clickRoles(usuario)" matTooltip="Administrar roles">
                                                <i class="material-icons">flash_on</i>
                                            </button>
                                            <button mat-raised-button *ngIf="MostrarEliminar" type="button" class="btn btn-danger btn-round" (click)="clickEliminar(usuario)" matTooltip="Eliminar usuario">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <pagination-controls id="usuariosPaginacion" maxSize="5" directionLinks="true" (pageChange)="pagina = $event" 
                                                     nextLabel="Siguiente" previousLabel="Anterior" >
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>