<div class="modal-header">
    <h4 class="modal-title" *ngIf="modoAgregar">Agregar sucursal</h4>
    <h4 class="modal-title" *ngIf="!modoAgregar">Editar sucursal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalActivo.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioSucursal" (ngSubmit)="guardar()">
        <div class="form-group">
            <label for="empresa">Empresa</label>
            <mat-form-field>
                <mat-select placeholder="Empresa" id="idEmpresa" name="idEmpresa" formControlName="idEmpresa">
                    <mat-option *ngFor="let empresa of empresas" [value]="empresa.idEmpresa">
                        {{ empresa.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
      <div class="form-group">
          <label for="name">Nombre*</label>
          <input type="text" id="nombre" placeholder="Nombre" class="form-control" formControlName="nombre" maxlength="50" />
          <span style="color:Red;" *ngIf="formularioSucursal.controls['nombre'].touched && formularioSucursal.controls['nombre'].errors?.required">
              Nombre es requerido.
          </span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalActivo.close('Close click')">Cerrar</button>
    <button class="btn btn-primary" (click)="guardar()" [disabled]="formularioSucursal.invalid">Guardar</button>
  </div>
  