<div class="modal-header">
    <h4 class="modal-title" *ngIf="modoAgregar">Agregar equipo</h4>
    <h4 class="modal-title" *ngIf="!modoAgregar">Editar equipo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalActivo.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioEquipo" (ngSubmit)="guardar()">
        <div class="wizard-navigation">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#general" data-toggle="tab" role="tab">
                        General
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#caracteristicas" data-toggle="tab" role="tab">
                        Caracteristicas
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="general">
                    <div class="form-group row">
                        <div class="col-md-6" >
                            <label for="tipo">Tipo</label>
                            <mat-form-field>
                                <mat-select placeholder="Tipo" id="idTipo" name="idTipo" formControlName="idTipo" (selectionChange)="EventoCambioTipo($event)">
                                    <mat-option *ngFor="let tipo of tipos" [value]="tipo.idTipo">
                                        {{ tipo.nombre }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" >
                            <label for="empresa">Estado</label>
                            <mat-form-field>
                                <mat-select placeholder="Estado" id="idEstado" name="idEstado" formControlName="idEstado">
                                    <mat-option *ngFor="let estado of estados" [value]="estado.idEstado">
                                        {{ estado.nombre }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6" >
                            <label for="sucursal">Sucursal</label>
                            <mat-form-field>
                                <mat-select placeholder="Sucursal" id="idSucursal" name="idSucursal" formControlName="idSucursal">
                                    <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.idSucursal">
                                        {{ sucursal.nombre }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" >
                            <label for="usuario">Usuario</label>
                            <mat-form-field>
                                <mat-select placeholder="Usuario" id="idUsuario" name="idUsuario" formControlName="idUsuario">
                                    <mat-option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">
                                        {{ usuario.identificacion }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6" >
                            <label for="nombre">Nombre*</label>
                            <input type="text" id="nombre" placeholder="Nombre" class="form-control" formControlName="nombre" maxlength="50" />
                            <span style="color:Red;" *ngIf="formularioEquipo.controls['nombre'].touched && formularioEquipo.controls['nombre'].errors?.required">
                                Nombre es requerido.
                            </span>
                        </div>
                        <div class="col-md-6" >
                            <label for="marca">Marca*</label>
                            <input type="text" id="marca" placeholder="Marca" class="form-control" formControlName="marca" maxlength="50" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6" >
                            <label for="modelo">Modelo*</label>
                            <input type="text" id="modelo" placeholder="Modelo" class="form-control" formControlName="modelo" maxlength="20" />
                        </div>
                        <div class="col-md-6" >
                            <label for="serie">Serie*</label>
                            <input type="text" id="serie" placeholder="Serie" class="form-control" formControlName="serie" maxlength="30" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6" >
                            <label for="activoFijo">ActivoFijo*</label>
                            <input type="text" id="activoFijo" placeholder="Activo Fijo" class="form-control" formControlName="activoFijo" maxlength="20" />
                        </div>
                        <div class="col-md-6" >
                            <label for="numero">Numero*</label>
                            <input type="number" id="numero" placeholder="Numero" class="form-control" formControlName="numero" min="0" max="32000" />
                            <span style="color:Red;" *ngIf="formularioEquipo.controls['numero'].touched && formularioEquipo.controls['numero'].errors?.required">
                                Numero es requerido.
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6" >
                            <label for="fechaCompra">Fecha de Compra*</label>
                            <mat-form-field >
                                <input matInput [matDatepicker]="picker" placeholder="Fecha de Compra" (click)="picker.open()" formControlName="fechaCompra" id="fechaCompra">
                                <mat-datepicker-toggle matSuffix ></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="caracteristicas">
                    <div class="form-group">
                        <div *ngFor="let caracteristica of caracteristicas" class="form-check">
                            <label for="title">{{caracteristica.nombre}}</label>
                            <input type="text" class="form-control" [(ngModel)]="caracteristica.valor" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalActivo.close('Close click')">Cerrar</button>
    <button class="btn btn-primary" (click)="guardar()" [disabled]="formularioEquipo.invalid">Guardar</button>
  </div>
  