

        <div class="logo">
          <a class="simple-text logo-mini">
            <div class="logo-img">
                <!--<img src="/assets/img/angular2-logo-white.png"/>-->
                <img src="{{ empresa != null ? recursosUrl  + empresa.urlLogo : '/assets/img/empty.png'}}" height="30" width="30" />
            </div>
          </a>
            <a href="" class="simple-text logo-normal">
              {{ empresa!= null ? empresa.nombre : ''}} - {{ sucursal != null ? sucursal.nombre : ''}}
            </a>
        </div>


        <div class="sidebar-wrapper">

            <div class="user">
                <div class="photo">
                    <img src="./assets/img/default-avatar.png" />
                </div>
                <div class="user-info">
                    <!--<a data-toggle="collapse" href="#collapseExample" class="collapsed">-->
                        <span>
                            {{usuario.nombre}}
                            <!--<b class="caret"></b>-->
                        </span>
                    <!--</a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    <span class="sidebar-mini">MP</span>
                                    <span class="sidebar-normal">My Profile</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    <span class="sidebar-mini">EP</span>
                                    <span class="sidebar-normal">Edit Profile</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    <span class="sidebar-mini">S</span>
                                    <span class="sidebar-normal">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>-->
                </div>
            </div>
            <ul class="nav">
              <li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item">
                <!--If is a single link-->
                <a [routerLink]="['/'+menuitem.nombre.toLowerCase()]" *ngIf="menuitem.idPermisoPadre === null && (menuitem.hijos === null )" skipLocationChange class="nav-link">
                    <i class="material-icons">{{menuitem.icono}}</i>
                    <p>{{menuitem.texto}}</p>
                </a>
                <!--If it have a submenu-->
                <a data-toggle="collapse" href="#{{menuitem.nombre.replace('/', '')}}" *ngIf="menuitem.idPermisoPadre === null && menuitem.hijos != null" (click)="updatePS()" skipLocationChange class="nav-link">
                    <i class="material-icons">{{menuitem.icono }}</i>
                    <p>{{menuitem.texto}}<b class="caret"></b></p>
                </a>

                <!--Display the submenu items-->
                <div id="{{menuitem.nombre.replace('/', '')}}" class="collapse" *ngIf="menuitem.idPermisoPadre === null">
                    <ul class="nav">
                        <li routerLinkActive="active" *ngFor="let childitem of menuitem.hijos" class="nav-item">
                            <a [routerLink]="['/'+menuitem.nombre.toLowerCase(), childitem.nombre.toLowerCase()]" skipLocationChange class="nav-link">
                                <span class="sidebar-mini">{{childitem.icono}}</span>
                                <span class="sidebar-normal">{{childitem.texto}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li> 
            <li class="nav-item">
              <a class="nav-link" (click)="salir()" >
                <i class="material-icons">clear</i>
                <p>Salir</p>
              </a>
            </li>
          </ul>

        </div>
