
/* -- -- -- -- -- -- Fix para que el combo funcione correctamente en los dialogos  -- -- -- -- -- -- */
.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
}

/* -- -- -- -- -- -- Contenedores  -- -- -- -- -- -- */
#contenedor {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: calc(100vh - 20px);
    background: white;
}

#minicontenedor {
    z-index: 5000;
    width: 40vw;
    height: 50vh;
    background: white;
}

/* -- -- -- -- -- -- Spinners  -- -- -- -- -- -- */
.miniloader1 {
    background: transparent url(assets/img/spinner/loader.gif) center no-repeat;
    width: 40vw;
    height: 50vh;
}

.loader1 {
    height: 100vh;
    width: 100vw;
    background: transparent url(assets/img/spinner/loader.gif) center no-repeat;
 }
 

/**  iPad with portrait orientation. **/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .loader1 {
    height: 1024px;
  }
}

/** iPad with landscape orientation. **/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .loader1 {
    height: 768px;
  }
}

/** iPhone 5 You can also target devices with aspect ratio. */
@media screen and (device-aspect-ratio: 40/71) {
  .loader1 {
    height: 500px;
  }
}