<div class="modal-header">
    <h4 class="modal-title" *ngIf="modoAgregar">Agregar Estado</h4>
    <h4 class="modal-title" *ngIf="!modoAgregar">Editar Estado</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalActivo.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioEstado" (ngSubmit)="guardar()">
      <div class="form-group">
          <label for="name">Nombre*</label>
          <input type="text" id="nombre" placeholder="Nombre" class="form-control" formControlName="nombre" maxlength="50" />
          <span style="color:Red;" *ngIf="formularioEstado.controls['nombre'].touched && formularioEstado.controls['nombre'].errors?.required">
              Nombre es requerido.
          </span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalActivo.close('Close click')">Cerrar</button>
    <button class="btn btn-primary" (click)="guardar()" [disabled]="formularioEstado.invalid">Guardar</button>
  </div>