<div class="modal-header">
    <h4 class="modal-title" *ngIf="modoAgregar">Agregar permiso</h4>
    <h4 class="modal-title" *ngIf="!modoAgregar">Editar permiso</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalActivo.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioPermiso" (ngSubmit)="guardar()">
      <div class="form-group">
        <label for="Padre">Permiso padre</label>
        <mat-form-field>
            <mat-select placeholder="Permiso padre" id="idPermisoPadre" name="idPermisoPadre" formControlName="idPermisoPadre">
                <mat-option *ngFor="let permiso of PermisosFiltrados" [value]="permiso.idPermiso">
                    {{ permiso.nombre }}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
          <label for="name">Nombre*</label>
          <input type="text" id="nombre" placeholder="Nombre" class="form-control" formControlName="nombre" maxlength="50" />
          <span style="color:Red;" *ngIf="formularioPermiso.controls['nombre'].touched && formularioPermiso.controls['nombre'].errors?.required">
              Nombre es requerido.
          </span>
      </div>
      <div class="form-group">
        <label for="texto">Texto</label>
        <input type="text" id="type" placeholder="Texto" class="form-control" formControlName="texto" />
      </div>
      <div class="form-group">
          <label for="icono">Icono</label>
          <input type="text" id="icono" placeholder="Icono" class="form-control" formControlName="icono" />
      </div>
      <div class="form-group" >
        <label for="action">Orden</label>
        <input type="number" id="orden" placeholder="Orden" class="form-control" formControlName="orden" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalActivo.close('Close click')">Cerrar</button>
    <button class="btn btn-primary" (click)="guardar()" [disabled]="formularioPermiso.invalid">Guardar</button>
  </div>
  