
<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form class="form" [formGroup]="formularioEntrar">
            <div class="card card-login card-hidden" id="cardLogin">
              <div class="card-header card-header-rose text-center">
                <h4 class="card-title">Acceso a sistema</h4>                
              </div>
              <div class="card-body ">
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">person</i>
                      </span>
                    </div>
                    <input type="text" id="identificacion" placeholder="Identificacion" class="form-control" formControlName="identificacion" maxlength="50" (change)="onCambioUsuarioEvento($event)" />
                    <span style="color:Red;" *ngIf="formularioEntrar.controls['identificacion'].touched && formularioEntrar.controls['identificacion'].errors?.required">
                        Identificacion es requerida.
                    </span>
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" id="contrasena" placeholder="Contraseña" class="form-control" formControlName="contrasena" maxlength="20" />
                    <span style="color:Red;" *ngIf="formularioEntrar.controls['contrasena'].touched && formularioEntrar.controls['contrasena'].errors?.required">
                      Contraseña es requerida.
                    </span>
                  </div>
                </span>
                <span class="bmd-form-group" *ngIf="mostrarSucursales"> 
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">place</i>
                      </span>
                    </div>
                    <mat-select placeholder="Sucursal" class="form-control" id="idSucursal" name="idSucursal" formControlName="idSucursal">
                      <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.idSucursal">
                          {{ sucursal.nombre }}
                      </mat-option>
                    </mat-select>                    
                  </div>
                </span>
              </div>              
              <div class="card-footer justify-content-center">
                <button class="btn btn-rose btn-link btn-lg" (click)="entrar()" [disabled]="formularioEntrar.invalid">
                  <span>Entrar</span>
              </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
        <nav class="pull-left">
        </nav>
        <div class="copyright pull-right">
          &copy;
          {{test | date: 'yyyy'}}, Realizado por  <a href="mailto:gonzalo.riffo@hotmail.com" target="_blank">Gonzalo Riffo</a>.
        </div>
      </div>
    </footer>
  </div>
</div>
