<div class="main-content">
    <div *ngIf="Cargando" id="contenedor" >
        <div class="loader1" id="loader"></div>
    </div>
    <div *ngIf="!Cargando" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">place</i>
                        </div>
                        <h4 class="card-title">Empresas</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Identificador</th>
                                        <th>Nombre</th>
                                        <th>Imagen</th>
                                        <th>Fecha Insercion</th>
                                        <th class="text-center">Activo</th>
                                        <th></th>
                                        <th class="td-actions text-center">
                                            <button mat-raised-button type="button" class="btn btn-info btn-round text-center" (click)="clickAgregar()" matTooltip="Agregar empresa">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let empresa of empresas | paginate : { id: 'empresasPaginacion', itemsPerPage:10, currentPage: pagina };">
                                        <td class="text-center">{{empresa.idEmpresa}}</td>
                                        <td>{{empresa.nombre}}</td>
                                        <td><img src="{{empresa.urlLogo}}" height="30" width="30" /></td>
                                        <td>{{empresa.fechaInsercion}}</td>
                                        <td class="td-actions text-center" style="align-content:center">
                                            <button [hidden]="!empresa.activo" mat-raised-button type="button" class="btn btn-success btn-link" (click)="clickActivarDesactivar(empresa)" matTooltip="Desactivar empresa">
                                                <i class="material-icons">check</i>
                                            </button>
                                            <button [hidden]="empresa.activo" mat-raised-button type="button" class="btn btn-danger btn-link" (click)="clickActivarDesactivar(empresa)" matTooltip="Activar empresa">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                        <td class="td-actions text-center" style="align-content:center">
                                            <button mat-raised-button type="button" class="btn btn-success btn-round" (click)="clickEditar(empresa)" matTooltip="Editar empresa">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <pagination-controls id="empresasPaginacion" maxSize="5" directionLinks="true" (pageChange)="pagina = $event" 
                                                     nextLabel="Siguiente" previousLabel="Anterior" >
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>