<div class="main-content">
    <div *ngIf="Cargando" id="contenedor" >
        <div class="loader1" id="loader"></div>
    </div>
    <div *ngIf="!Cargando" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_paste</i>
                        </div>
                        <h4 class="card-title">Equipos</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" matSort (matSortChange)="sortData($event)">
                                <thead>
                                    <tr>
                                        <th class="text-center" mat-sort-header="idEquipo">Identificador</th>
                                        <th>Tipo</th>
                                        <th>Estado</th>
                                        <th mat-sort-header="sucursal">Sucursal</th>
                                        <th>Usuario</th>
                                        <th mat-sort-header="nombre">Nombre</th>
                                        <th mat-sort-header="marca">Marca</th>
                                        <th>Modelo</th>
                                        <th>Activo Fijo</th>
                                        <th>Fecha compra</th>
                                        <th class="text-center">Activo</th>
                                        <th class="td-actions text-center">
                                            <button mat-raised-button type="button" class="btn btn-info btn-round text-center" (click)="clickAgregar()" matTooltip="Agregar equipo">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let equipo of equiposOrdenados | paginate : { id: 'equiposPaginacion', itemsPerPage:10, currentPage: pagina };">
                                        <td class="text-center">{{equipo.idEquipo}}</td>
                                        <td>{{obtenerNombreTipo(equipo.idTipo)}}</td>
                                        <td>{{obtenerNombreEstado(equipo.idEstado)}}</td>
                                        <td>{{obtenerNombreSucursal(equipo.idSucursal)}}</td>
                                        <td>{{obtenerIdentificacionUsuario(equipo.idUsuario)}}</td>
                                        <td>{{equipo.nombre}}</td>                                        
                                        <td>{{equipo.marca}}</td>
                                        <td>{{equipo.modelo}}</td>
                                        <td>{{equipo.activoFijo}}</td>
                                        <td>{{equipo.fechaCompra | date}}</td>
                                        <td class="td-actions text-center" style="align-content:center">
                                            <button [hidden]="!equipo.activo" mat-raised-button type="button" class="btn btn-success btn-link" (click)="clickActivarDesactivar(equipo)" matTooltip="Desactivar equipo">
                                                <i class="material-icons">check</i>
                                            </button>
                                            <button [hidden]="equipo.activo" mat-raised-button type="button" class="btn btn-danger btn-link" (click)="clickActivarDesactivar(equipo)" matTooltip="Activar equipo">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                        <td class="td-actions text-center" style="align-content:center">
                                            <button mat-raised-button type="button" class="btn btn-success btn-round" (click)="clickEditar(equipo)" matTooltip="Editar equipo">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" class="btn btn-success btn-round" (click)="clickImprimirEtiqueta(equipo)" matTooltip="Imprimir etiqueta">
                                                <i class="material-icons">qr_code</i>
                                            </button>
                                            <button mat-raised-button type="button" class="btn btn-success btn-round" (click)="clickHistoria(equipo)" matTooltip="Historial de cambios">
                                                <i class="material-icons">history</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <pagination-controls id="equiposPaginacion" maxSize="5" directionLinks="true" (pageChange)="pagina = $event" 
                                                     nextLabel="Siguiente" previousLabel="Anterior" >
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>