<div class="modal-header">
    <h4 class="modal-title" *ngIf="modoAgregar">Agregar empresa</h4>
    <h4 class="modal-title" *ngIf="!modoAgregar">Editar empresa</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalActivo.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioEmpresa" (ngSubmit)="guardar()">
      <div class="form-group">
          <label for="name">Nombre*</label>
          <input type="text" id="nombre" placeholder="Nombre" class="form-control" formControlName="nombre" maxlength="50" />
          <span style="color:Red;" *ngIf="formularioEmpresa.controls['nombre'].touched && formularioEmpresa.controls['nombre'].errors?.required">
              Nombre es requerido.
          </span>
      </div>
      <div class="form-group">
        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
            <div class="fileinput-new thumbnail img-circle">
                <img [attr.src]="modeloEmpresa!=null ? modeloEmpresa.urlLogo : VACIA">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
            <div>
                <span class="btn btn-rose btn-round btn-file">
                    <span class="fileinput-new">Seleccionar Imagen</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" name="..." accept="image/*" (change)="cambioEscuchador($event.target.files)" />
                </span>
                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
            </div>
        </div>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalActivo.close('Close click')">Cerrar</button>
    <button class="btn btn-primary" (click)="guardar()" [disabled]="formularioEmpresa.invalid">Guardar</button>
  </div>
  