<div class="modal-header">
    <h4 class="modal-title" >Historial de cambios</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalActivo.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div *ngIf="Cargando" id="minicontenedor" >
    <div class="miniloader1" id="loader"></div>
</div>
<div class="modal-body"  *ngIf="!Cargando">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Fecha Cambio</th>
                                            <th>Usuario</th>
                                            <th>Asignado por</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let historia of historias | paginate : { id: 'equipoHistoriaPaginacion', itemsPerPage:10, currentPage: pagina };">
                                            <td>{{historia.fechaInsercion}}</td>                                        
                                            <td>{{obtenerIdentificacionUsuario(historia.idUsuario)}}</td>
                                            <td>{{obtenerIdentificacionUsuario(historia.idUsuarioCaptura)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <pagination-controls id="equipoHistoriaPaginacion" maxSize="5" directionLinks="true" (pageChange)="pagina = $event" 
                                                        nextLabel="Siguiente" previousLabel="Anterior" >
                                    </pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>