<div class="modal-header">
    <h4 class="modal-title" >Etiqueta de equipo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalActivo.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="contentToConvert" style="border: 1px; font-size: 22px; line-height: 35px;">
        <div class="row">        
            <div class="col-md-4">
                <ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel"
                            [value]="value" cssClass="bshadow"></ngx-qrcode>
            </div>
            <div class="col-md-4" id="contentToConvert2" >
                <!--<img src="{{ empresa.urlLogo }}" height="130" width="130" style="margin:10px;"   />-->
                <img [src]="imageToShow" *ngIf="!isImageLoading" height="130" width="130" style="margin:10px;" crossorigin="use-credentials" />
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="col-md-12" style="font-weight: bold;" >
            Propiedad de {{empresa.nombre}}
        </div>
        <div class="col-md-12">
            Email : 
        </div>
        <div class="col-md-12">
            Activo fijo : {{ modeloEquipo.activoFijo }}
        </div>
        <div class="col-md-12">
            Numero de serie : {{ modeloEquipo.serie }}
        </div>
        <div class="col-md-12">
            Fecha de compra : {{modeloEquipo.fechaCompra | date : 'yyyyMMdd' }}
        </div>
        <div class="col-md-12">
            .
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalActivo.close('Close click')">Cerrar</button>
    <button class="btn btn-primary" (click)="ImprimirA4()" >Imprimir A4</button>
    <button class="btn btn-primary" (click)="Imprimir50()" >Imprimir 50x50</button>
  </div>
  