<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Confirmación de eliminacion</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modalActivo.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Estas seguro de eliminar el usuario: <span class="text-primary">"{{ modeloUsuario.nombre }}"</span>?</strong></p>
    <p>Los equipos asociados a dicho usuario se quedaran sin un usuario asignado y el usuario sera eliminado.
    <span class="text-danger">Esta operacion no se puede deshacer.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modalActivo.close('Close click')">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="eliminar()">Aceptar</button>
  </div>