<div class="main-content">
    <div *ngIf="Cargando" id="contenedor" >
        <div class="loader1" id="loader"></div>
    </div>
    <div *ngIf="!Cargando" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">security</i>
                        </div>
                        <h4 class="card-title">Roles</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Identificador</th>
                                        <th>Nombre</th>
                                        <th>Fecha Insercion</th>
                                        <th class="text-center">Activo</th>
                                        <th></th>
                                        <th class="td-actions text-center">
                                            <button mat-raised-button type="button" class="btn btn-info btn-round text-center" (click)="clickAgregar()" matTooltip="Agregar rol">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let rol of roles | paginate : { id: 'rolesPaginacion', itemsPerPage:10, currentPage: pagina };">
                                        <td class="text-center">{{rol.idRol}}</td>
                                        <td>{{rol.nombre}}</td>
                                        <td>{{rol.fechaInsercion}}</td>
                                        <td class="td-actions text-center" style="align-content:center">
                                            <button [hidden]="!rol.activo" mat-raised-button type="button" class="btn btn-success btn-link" (click)="clickActivarDesactivar(rol)" matTooltip="Desactivar rol">
                                                <i class="material-icons">check</i>
                                            </button>
                                            <button [hidden]="rol.activo" mat-raised-button type="button" class="btn btn-danger btn-link" (click)="clickActivarDesactivar(rol)" matTooltip="Activar rol">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                        <td class="td-actions text-center" style="align-content:center">
                                            <button mat-raised-button type="button" class="btn btn-success btn-round" (click)="clickEditar(rol)" matTooltip="Editar rol">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" class="btn btn-primary btn-round" (click)="clickPermisos(rol)" matTooltip="Administrar permisos">
                                                <i class="material-icons">flash_on</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <pagination-controls id="rolesPaginacion" maxSize="5" directionLinks="true" (pageChange)="pagina = $event" 
                                                     nextLabel="Siguiente" previousLabel="Anterior" >
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>