<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}}, Realizado por  <a href="mailto:gonzalo.riffo@hotmail.com" target="_blank">Gonzalo Riffo</a>.
    </div>
  </div>
</footer>
